{% extends 'index.html' %}

{% block site_content %}
<!-- ======= About Section ======= -->

    {% include 'description.html' %}

    <!-- ======= Whu Us Section ======= -->

    {% include 'reasons.html' %}

    <!-- ======= Menu ======= -->
    {% include 'menu.html' %}

    <!-- ======= Specials Section ======= -->
    {% include 'special_dishes.html' %}


    <!-- ======= Events Section ======= -->
    {% include 'events.html' %}


    <!-- ======= Book A Table Section ======= -->
    {% include 'reserve.html' %}


    <!-- ======= Gallery Section ======= -->
    {% include 'gallery.html' %}


    <!-- ======= Chefs Section ======= -->
    {% include 'Chefs.html' %}


    <!-- ======= Testimonials Section ======= -->
    {% include 'testimotials.html' %}


    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}


{% endblock %}